<div class="other-links">
  <% if @open %>
    <strong>
      <%= link_to t("issues.index.open"), issues_path({"status": "open"}) %>
    </strong>
    <%= link_to t("issues.index.completed"), issues_path({"status": "completed"}) %>

  <% else %>

    <%= link_to t("issues.index.open"), issues_path({"status": "open"}) %>
    <strong>
      <%= link_to t("issues.index.completed"), issues_path({"status": "completed"}) %>
    </strong>
  <% end %>
</div>
<% if @issues.any? %>
  <div class="list-group">
  <%= render collection: @issues, partial: "issue" %>
  </div>
<% else %>
  <div>
  No issues here.
  </div>
<% end %>
