<div class="other-links h3">
  <%= @project.name+":" %>
  <% if @open %>
    <strong>
      <%= link_to t("issues.index.open"), project_issues_path({project_id: @project, "status": "open"}) %>
    </strong>
    <%= link_to t("issues.index.completed"), project_issues_path({project_id: @project, "status": "completed"}) %>

  <% else %>

    <%= link_to t("issues.index.open"), project_issues_path({project_id: @project, "status": "open"}) %>
    <strong>
      <%= link_to t("issues.index.completed"), project_issues_path({project_id: @project, "status": "completed"}) %>
    </strong>
  <% end %>
  <%= link_to t("issues.index.new"), new_project_issue_path(@project), class: "btn btn-success pull-right", role: "button" %>
</div>
<% if @issues.any? %>
  <div class="list-group">
  <%= render collection: @issues, partial: "issue" %>
  </div>
<% else %>
  <div>
  No issues here.
  </div>
<% end %>
